* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #121212;
}

.blob {
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    background: url('https://xatimg.com/image/ch7L7CyjCTOT.png');
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    animation: blob 3.7s linear infinite;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #001;
  background-image: url("");
  background-size: cover;
}

@keyframes blob {
    0%, 100% {
        border-radius:
            42% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33% {
        border-radius:
            42% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66% {
        border-radius:
            100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}
.toggle-play,
.toggle-play i {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-right: 30px solid var(--border);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
}

.toggle-play {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 12000;
  border: none;
  outline: none;
  background: none;
  color: var(--light);
  box-shadow: none;
  transition: .2s;
}

.toggle-play:hover {
  color: var(--shadow);
  border-right: 30px solid var(--shadow);
  cursor: pointer;
}

.toggle-play i {
  font-size: 24px;
  color: white;
}

.fa {
  font-size: 24px;
}

#sound:before {
  content: "";
}

.shadow-text {
    text-shadow: 2px 2px 4px #ccc;
  }



